<!DOCTYPE HTML>
<html class="wide wow-animation" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <title>Edit Task</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/bootstrap.css}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/css/fontawesome-all.min.css}">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/app/icons/icon-192x192.png}">
    <script type="text/javascript" th:src="@{../../scripts/jquery.js}"></script>
</head>

<body class="theme-light">
<div id="preloader">
    <div class="spinner-border color-highlight" role="status"></div>
</div>
<div id="page">
    <div class="header header-fixed header-logo-center header-auto-show">
        <a href="index.html" class="header-title">Edit Task</a>
        <a href="index.html" data-back-button class="header-icon header-icon-1"><i
                class="fas fa-chevron-left"></i></a>
        <a href="#" data-menu="menu-main" class="header-icon header-icon-4"><i class="fas fa-bars"></i></a>
        <a href="#" data-toggle-theme class="header-icon header-icon-3 show-on-theme-dark"><i
                class="fas fa-sun"></i></a>
        <a href="#" data-toggle-theme class="header-icon header-icon-3 show-on-theme-light"><i
                class="fas fa-moon"></i></a>
    </div>
    <div class="page-title page-title-fixed">
        <h1>Edit Task</h1>
        <a href="#" class="page-title-icon shadow-xl bg-theme color-theme show-on-theme-light" data-toggle-theme><i
                class="fa fa-moon"></i></a>
        <a href="#" class="page-title-icon shadow-xl bg-theme color-theme show-on-theme-dark" data-toggle-theme><i
                class="fa fa-lightbulb color-yellow-dark"></i></a>
        <a href="#" class="page-title-icon shadow-xl bg-theme color-theme" data-menu="menu-main"><i
                class="fa fa-bars"></i></a>
    </div>
    <div class="page-title-clear"></div>

    <div>
        <div class="card card-style">
            <div class="content mb-0">
                <h4>Information</h4>
                <p class="mb-0">
                    <i class="fa fa-lightbulb color-yellow-dark"></i>
                    You have few additional options to create task:
                </p>
                <ol>
                    <li>Create task without assignment to dedicated person, and then do it from the tasks page.</li>
                    <li>Create additional check list for the task or just leave what should be done in task's
                        description.</li>
                </ol>
                <form id="editTaskForm" th:action="@{|/task/update/${task.getId()}|}" method="post">
                    <input type="hidden" id="editTaskSprintId" name="id" th:value="${task.getId()}">
                    <input type="hidden"  name="sprint.id" th:value="${task.getSprint().getId()}">
                    <div class="input-style input-style-2 input-required">
                        <span class="color-highlight">Name</span>
                        <em>(required)</em>
                        <input th:value="${task.getName()}" class="form-control" id="editTaskName" type="name" placeholder="" name="name"/>
                    </div>

                    <div class="input-style input-style-2 input-required">
                        <span class="color-highlight">Select Due Date</span>
                        <em><i class="fa fa-angle-down"></i></em>
                        <input type="date" th:value="${task.getDeadline()}"id="editTaskDueDate" name="deadline"/>
                    </div>


                    <ul id="subtasksList" class="icon-list content mt-0 ml-3 mb-3" >
                        <li th:each="sub: ${task.getItemList()}" class="d-flex">
                            <i class="fa fa-check color-green-dark align-self-center"></i>
                            <p class="subtask-description mb-0 align-self-center" th:text="${sub.getDescription()}">23454rf</p>
                        </li>
                    </ul>


                    <div class="input-style input-style-2">
                        <span>Assign Person</span>
                        <em><i class="fa fa-angle-down"></i></em>
                        <select class="form-control" name="assignee.id" id="assigneeList">
                            <option value="0">Not Selected</option>
                            <option th:selected="${task?.getAssignee()?.getId()==u?.getId()}" th:value="${u.getId()}" th:each="u :${users}" th:text="${u.getFirstName()}+' '+${u.getLastName()}">Name</option>
                        </select>
                    </div>

                    <div class="input-style input-style-2">
                        <span>Task Status</span>
                        <em><i class="fa fa-angle-down"></i></em>
                        <select class="form-control" name="taskStatus">
                            <option value="OPEN" th:selected="${task.getTaskStatus().name().equals('OPEN')}">Open</option>
                            <option value="IN_PROCESS" th:selected="${task.getTaskStatus().name().equals('IN_PROCESS')}">In Process</option>
                            <option value="DONE" th:selected="${task.getTaskStatus().name().equals('DONE')}">Done</option>
                        </select>
                    </div>

                    <div class="divider my-1"></div>

                    <div class="row">
                        <div class="col-3">
                            <a th:href="@{'/task/delete/'+${task.getSprint().getId()}+'?id='+${task.getId()}|}"
                               class="btn btn-full gradient-dark font-12 btn-m font-600 mt-3 rounded-s"><span><i class="fas fa-trash-alt fa-lg"></i></span></a>
                        </div>
                        <div class="col-9">
                            <button type="submit" class="btn btn-full rounded-s shadow-xl btn-full gradient-highlight font-12 btn-m font-600 mt-3 w-100">Save Changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Main menu start -->
    <div th:replace="menu"></div>
    <!-- Main menu end -->

    <!-- Color schema  -->
    <div th:replace="colors"></div>
    <!-- Color schema  -->


</div>
<script type="text/javascript" th:src="@{../../scripts/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{../../scripts/custom.js}"></script>

</body>
</html>