<!DOCTYPE HTML>
<html class="wide wow-animation" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <title>Edit Task</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/bootstrap.css}">
    <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
            rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/css/fontawesome-all.min.css}">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/app/icons/icon-192x192.png}">
</head>

<body class="theme-light">
<div id="preloader">
    <div class="spinner-border color-highlight" role="status"></div>
</div>
<div id="page">
    <div class="header header-fixed header-logo-center header-auto-show">
        <a href="index.html" class="header-title">Edit Task</a>
        <a href="index.html" data-back-button class="header-icon header-icon-1"><i
                class="fas fa-chevron-left"></i></a>
        <a href="#" data-menu="menu-main" class="header-icon header-icon-4"><i class="fas fa-bars"></i></a>
        <a href="#" data-toggle-theme class="header-icon header-icon-3 show-on-theme-dark"><i
                class="fas fa-sun"></i></a>
        <a href="#" data-toggle-theme class="header-icon header-icon-3 show-on-theme-light"><i
                class="fas fa-moon"></i></a>
    </div>
    <div class="page-title page-title-fixed">
        <h1>Edit Task</h1>
        <a href="#" class="page-title-icon shadow-xl bg-theme color-theme show-on-theme-light" data-toggle-theme><i
                class="fa fa-moon"></i></a>
        <a href="#" class="page-title-icon shadow-xl bg-theme color-theme show-on-theme-dark" data-toggle-theme><i
                class="fa fa-lightbulb color-yellow-dark"></i></a>
        <a href="#" class="page-title-icon shadow-xl bg-theme color-theme" data-menu="menu-main"><i
                class="fa fa-bars"></i></a>
    </div>
    <div class="page-title-clear"></div>

    <div>
        <div class="card card-style">
            <div class="content mb-0">
                <h4>Information</h4>
                <p class="mb-0">
                    <i class="fa fa-lightbulb color-yellow-dark"></i>
                    You have few additional options to create task:
                </p>
                <ol>
                    <li>Create task without assignment to dedicated person, and then do it from the tasks page.</li>
                    <li>Create additional check list for the task or just leave what should be done in task's
                        description.</li>
                </ol>
                <form id="editTaskForm" th:action="@{|/task/update/${task.getId()}|}" method="post">
                    <input type="hidden" id="editTaskSprintId" name="id" th:value="${task.getId()}">
                    <input type="hidden"  name="sprint.id" th:value="${task.getSprint().getId()}">
                    <div class="input-style input-style-2 input-required">
                        <span class="color-highlight">Name</span>
                        <em>(required)</em>
                        <input th:value="${task.getName()}" class="form-control" id="editTaskName" type="name" placeholder="" name="name"/>
                    </div>

                    <div class="input-style input-style-2 input-required">
                        <span class="color-highlight">Select Due Date</span>
                        <em><i class="fa fa-angle-down"></i></em>
                        <input type="date" th:value="${task.getDeadline()}"id="editTaskDueDate" name="deadline"/>
                    </div>


                    <ul id="subtasksList" class="icon-list content mt-0 ml-3 mb-3" >
                        <li th:each="sub: ${task.getItemList()}" class="d-flex">
                            <i class="fa fa-check color-green-dark align-self-center"></i>
                            <p class="subtask-description mb-0 align-self-center" th:text="${sub.getDescription()}">23454rf</p>
                        </li>
                    </ul>


                    <div class="input-style input-style-2">
                        <span>Assign Person</span>
                        <em><i class="fa fa-angle-down"></i></em>
                        <select class="form-control" name="assignee.id" id="assigneeList">
                            <option value="0">Not Selected</option>
                            <option th:selected="${task.getAssignee().getId()==u.getId()}" th:value="${u.getId()}" th:each="u :${users}" th:text="${u.getFirstName()}+' '+${u.getLastName()}">Name</option>
                        </select>
                    </div>

                    <div class="input-style input-style-2">
                        <span>Task Status</span>
                        <em><i class="fa fa-angle-down"></i></em>
                        <select class="form-control" name="taskStatus">
                            <option value="OPEN" th:selected="${task.getTaskStatus().name().equals('OPEN')}">Open</option>
                            <option value="IN_PROCESS" th:selected="${task.getTaskStatus().name().equals('IN_PROCESS')}">In Process</option>
                            <option value="DONE" th:selected="${task.getTaskStatus().name().equals('DONE')}">Done</option>
                        </select>
                    </div>

                    <div class="divider my-1"></div>

                    <div class="row">
                        <div class="col-3">
                            <a href="#"
                               class="close-menu btn btn-full gradient-dark font-12 btn-m font-600 mt-3 rounded-s"><span><i
                                    class="fas fa-trash-alt fa-lg"></i></span></a>
                        </div>
                        <div class="col-9">
                            <button type="submit" class="btn btn-full gradient-blue font-12 btn-m font-600 mt-3 rounded-s w-100">Save Changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Main menu start -->
    <div id="menu-main" class="menu menu-box-left rounded-0" data-menu-width="280" data-menu-active="nav-welcome">
        <div class="card rounded-0 bg-6" style="height:150px">
            <div class="card-top">
                <a href="#" class="close-menu float-right mr-2 text-center mt-3 icon-40 notch-clear"><i
                        class="fa fa-times color-white"></i></a>
            </div>
            <div class="card-bottom">
                <h1 class="color-white pl-3 mb-n1 font-28">Name Surname</h1>
                <p class="mb-2 pl-3 font-12 color-white opacity-50">Position</p>
            </div>
            <div class="card-overlay bg-gradient"></div>
        </div>
        <div class="mt-4"></div>
        <h6 class="menu-divider">Library</h6>
        <div class="list-group list-custom-small list-menu">
            <a id="nav-homepages" href="index.html">
                <i class="fa fa-home gradient-green color-white"></i>
                <span>Homepage</span>
                <i class="fa fa-angle-right"></i>
            </a>
            <a id="nav-components" href="index-components.html">
                <i class="fa fa-cog gradient-blue color-white"></i>
                <span>Components</span>
                <i class="fa fa-angle-right"></i>
            </a>
            <a id="nav-pages" href="index-pages.html">
                <i class="fa fa-file gradient-brown color-white"></i>
                <span>Pages</span>
                <i class="fa fa-angle-right"></i>
            </a>
            <a id="nav-media" href="index-projects.html">
                <i class="fa fa-camera gradient-magenta color-white"></i>
                <span>Media</span>
                <i class="fa fa-angle-right"></i>
            </a>
            <a id="nav-contact" href="#">
                <i class="fa fa-envelope gradient-teal color-white"></i>
                <span>Contact</span>
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
        <h6 class="menu-divider mt-4">settings</h6>
        <div class="list-group list-custom-small list-menu">
            <a href="#" data-menu="menu-colors">
                <i class="fa fa-brush gradient-highlight color-white"></i>
                <span>Highlights</span>
                <i class="fa fa-angle-right"></i>
            </a>
            <a href="#" data-toggle-theme data-trigger-switch="switch-dark-mode">
                <i class="fa fa-moon gradient-dark color-white"></i>
                <span>Dark Mode</span>
                <div class="custom-control scale-switch ios-switch highlight-switch switch-s">
                    <input type="checkbox" class="ios-input" id="switch-22">
                    <label class="custom-control-label" for="switch-1"></label>
                </div>
            </a>
        </div>
        <h6 class="menu-divider mt-4">Contacts</h6>
        <div class="list-group list-custom-small list-menu">
            <a href="#">
                <img src="images/pictures/1s.jpg">
                <span>John Droid</span>
                <i class="fa fa-angle-right"></i>
            </a>
            <a href="#">
                <img src="images/pictures/5s.jpg">
                <span>Gina Seed</span>
                <i class="fa fa-angle-right"></i>
            </a>
            <a href="#">
                <img src="images/pictures/6s.jpg">
                <span>Jane Louder</span>
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
        <h6 class="menu-divider font-10 mt-4">Made by Roman Tymochko
            <span class="copyright-year"></span>
        </h6>
    </div>
    <!-- Main menu end -->


    <div id="menu-colors" class="menu menu-box-bottom rounded-m" data-menu-height="480">
        <div class="menu-title">
            <p class="color-highlight font-600">Choose your Favorite</p>
            <h1>Highlight</h1>
            <a href="#" class="close-menu"><i class="fa fa-times-circle"></i></a>
        </div>
        <div class="divider divider-margins mt-3 mb-2"></div>
        <div class="content mt-0 ml-0 mr-0">
            <div class="row mb-0">
                <div class="col-6">
                    <div class="highlight-changer list-group list-custom-small list-menu">
                        <a href="#" class="menu-active" data-highlight-style="styles/highlights/highlight-blue.css">
                            <i class="gradient-blue color-white"></i>
                            <span>Blue</span>
                        </a>
                        <a href="#" data-highlight-style="styles/highlights/highlight-red.css">
                            <i class="gradient-red color-white"></i>
                            <span>Red</span>
                        </a>
                        <a href="#" data-highlight-style="styles/highlights/highlight-orange.css">
                            <i class="gradient-orange color-white"></i>
                            <span>Orange</span>
                        </a>
                        <a href="#" data-highlight-style="styles/highlights/highlight-green.css">
                            <i class="gradient-green color-white"></i>
                            <span>Green</span>
                        </a>
                        <a href="#" data-highlight-style="styles/highlights/highlight-yellow.css">
                            <i class="gradient-yellow color-white"></i>
                            <span>Yellow</span>
                        </a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="highlight-changer list-group list-custom-small list-menu">
                        <a href="#" data-highlight-style="styles/highlights/highlight-dark.css">
                            <i class="gradient-dark color-white"></i>
                            <span>Dark</span>
                        </a>
                        <a href="#" data-highlight-style="styles/highlights/highlight-gray.css">
                            <i class="gradient-gray color-white"></i>
                            <span>Gray</span>
                        </a>
                        <a href="#" data-highlight-style="styles/highlights/highlight-teal.css">
                            <i class="gradient-teal color-white"></i>
                            <span>Teal</span>
                        </a>
                        <a href="#" data-highlight-style="styles/highlights/highlight-magenta.css">
                            <i class="gradient-magenta color-white"></i>
                            <span>Plum</span>
                        </a>
                        <a href="#" data-highlight-style="styles/highlights/highlight-brown.css">
                            <i class="gradient-brown color-white"></i>
                            <span>Brown</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider divider-margins mt-2"></div>
        <a href="#"
           class="close-menu btn btn-margins btn-m font-13 rounded-s shadow-xl btn-full gradient-highlight border-0 font-700 text-uppercase">Awesome</a>
    </div>
</div>
<script type="text/javascript" th:src="@{../../scripts/jquery.js}"></script>
<script type="text/javascript" th:src="@{../../scripts/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{../../scripts/custom.js}"></script>

</body>
</html>