<!DOCTYPE HTML>
<html class="wide wow-animation" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <title>Tasks</title>
    <link rel="stylesheet" type="text/css" th:href="@{../../styles/bootstrap.css}">
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{../../fonts/css/fontawesome-all.min.css}">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{../../app/icons/icon-192x192.png}">
    <script type="text/javascript" th:src="@{../../scripts/jquery.js}"></script>

</head>

<body class="theme-light">
    <div id="preloader">
        <div class="spinner-border color-highlight" role="status"></div>
    </div>
    <div id="page">
        <div class="header header-fixed header-logo-center header-auto-show">
            <a href="index.html" class="header-title">Tasks</a>
            <a href="index.html" data-back-button class="header-icon header-icon-1"><i
                    class="fas fa-chevron-left"></i></a>
            <a href="#" data-menu="menu-main" class="header-icon header-icon-4"><i class="fas fa-bars"></i></a>
            <a href="#" data-toggle-theme class="header-icon header-icon-3 show-on-theme-dark"><i
                    class="fas fa-sun"></i></a>
            <a href="#" data-toggle-theme class="header-icon header-icon-3 show-on-theme-light"><i
                    class="fas fa-moon"></i></a>
        </div>
        <div class="page-title page-title-fixed">
            <h1>Tasks</h1>
            <a href="#" class="page-title-icon shadow-xl bg-theme color-theme show-on-theme-light" data-toggle-theme><i
                    class="fa fa-moon"></i></a>
            <a href="#" class="page-title-icon shadow-xl bg-theme color-theme show-on-theme-dark" data-toggle-theme><i
                    class="fa fa-lightbulb color-yellow-dark"></i></a>
            <a href="#" class="page-title-icon shadow-xl bg-theme color-theme" data-menu="menu-main"><i
                    class="fa fa-bars"></i></a>
        </div>
        <div class="page-title-clear"></div>
        <div>
            <div class="card card-style bg-theme pb-0">
                <div class="content">
                    <div class="tab-controls tabs-round tab-animated tabs-medium tabs-rounded shadow-xl"
                        data-tab-items="3" data-tab-active="bg-blue-dark color-white">
                        <a href="#" id="openTasksTab" data-tab="tab-1 " onclick="getActiveId(this)">Open</a>
                        <a href="#" id="inProcessTasksTab" data-tab="tab-2" onclick="getActiveId(this)">In Process</a>
                        <a href="#" id="doneTasksTab" data-tab="tab-3" onclick="getActiveId(this)">Done</a>
                    </div>
                    <div class="clearfix mb-3"></div>
                    <div class="tab-content" id="tab-1">
                        <div class="content">
                            <div th:each="t:${openTasks}">
                                <div class="row-id d-flex" th:id="${t.getId()}" >
                                    <div class="align-self-center" style="width: 60%;">
                                        <a th:href="@{|/task/info/${t.getId()}|}">
                                            <h5 class="sprint-name mb-0" th:text="${t.getName()}">Task name 0</h5>
                                            <div class="w-100" style="display: inline-flex;">
                                                <h5 class="sprint-start font-12 mb-2 opacity-30 w-50" th:text="${t.getCreated()}">2020-02-02</h5>
                                                <h5 class="sprint-end font-12 mb-2 opacity-30 w-50" th:text="${t.getDeadline()}">2020-05-01</h5>
                                            </div>
                                            <a href="#" class="chip chip-s bg-gray-light">
                                                <i class="far fa-clock bg-green-dark color-white"></i>
                                                <strong class="color-black font-400">Waiting!</strong>
                                            </a>
                                            <!-- <div class="progress rounded-l" style="height: 14px">
                                                <div class="progress-bar bg-highlight text-left pl-3 color-white"
                                                    role="progressbar" style="width: 100%" aria-valuenow="100"
                                                    aria-valuemin="0" aria-valuemax="100">
                                                    100% Complete
                                                </div>
                                            </div> -->
                                        </a>
                                    </div>
                                    <div class="align-self-center ml-auto" style="display: inline-flex;">
                                        <h1 class="font-20">
                                            <a th:href="@{|/task/update/${t.getId()}|}">
                                                <i class="fas fa-pen color-highlight"></i>
                                            </a>
                                        </h1>
                                    </div>
                                </div>
                                <div class="divider mb-2"></div>
                            </div>
                        </div>
                        <a th:href="@{'/task/create/'+${sprint.getId()}}"
                            class="btn btn-full btn-m rounded-sm gradient-dark font-600 mb-2">Create New Task</a>
                    </div>
                    <div class="tab-content" id="tab-2">
                        <div class="content">
                            <div th:each="t:${inProcessTasks}">
                                <div class="row-id d-flex mb-3" th:id="${t.getId()}">
                                    <div class="align-self-center" style="width: 60%;">
                                        <a th:href="@{|/task/info/${t.getId()}|}">
                                            <h5 class="sprint-name mb-0" th:text="${t.getName()}">Task name 0</h5>
                                            <div class="w-100" style="display: inline-flex;">
                                                <h5 class="sprint-start font-12 mb-2 opacity-30 w-50" th:text="${t.getCreated()}">2020-02-02</h5>
                                                <h5 class="sprint-end font-12 mb-2 opacity-30 w-50" th:text="${t.getDeadline()}">2020-05-01</h5>
                                            </div>
                                            <div class="progress rounded-l" style="height: 14px">
                                                <div class="progress-bar bg-highlight text-left pl-3 color-white"
                                                     role="progressbar" th:style="'width:'+${t.getProgress()}+'%'" th:aria-valuenow="${t.getProgress()}"
                                                     aria-valuemin="0" aria-valuemax="100" th:text="${t.getProgress()}+'% Complete'">
                                                    90% Complete
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="align-self-center ml-auto" style="display: inline-flex;">
                                        <img th:src="@{|/user/getUserImg/${t?.getAssignee()?.getId()}|}" th:data-src="@{|/user/getUserImg/${t?.getAssignee()?.getId()}|}" width="50" height="50" class="rounded-circle preload-img" style="margin-right: 2rem;">
                                        <h1 class="font-20">
                                            <a th:href="@{|/task/update/${t.getId()}|}">
                                                <i class="fas fa-pen color-highlight"></i>
                                            </a>
                                        </h1>
                                    </div>
                                </div>
                                <div class="divider mb-2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content" id="tab-3">
                        <div class="content">
                            <div th:each="t:${doneTasks}">
                                <div class="row-id d-flex" th:id="${t.getId()}">
                                    <div class="align-self-center" style="width: 60%;">
                                        <a th:href="@{|/task/info/${t.getId()}|}">
                                            <h5 class="sprint-name mb-0" th:text="${t.getName()}">Task name 0</h5>
                                            <div class="w-100" style="display: inline-flex;">
                                                <h5 class="sprint-start font-12 mb-2 opacity-30 w-50" th:text="${t.getCreated()}">2020-02-02</h5>
                                                <h5 class="sprint-end font-12 mb-2 opacity-30 w-50" th:text="${t.getDeadline()}">2020-05-01</h5>
                                            </div>
                                            <a href="#" class="chip chip-s bg-green-dark">
                                                <i class="fa fa-check color-white bg-green-light"></i>
                                                <span class="color-white">Complete!</span>
                                            </a>
                                        </a>
                                    </div>
                                    <div class="align-self-center ml-auto" style="display: inline-flex;">
                                        <img th:src="@{|/user/getUserImg/${t?.getAssignee()?.getId()}|}" data-src="images/avatars/1s.png" width="50" height="50" class="rounded-circle preload-img" style="margin-right: 2rem;">
                                        <h1 class="font-20">
                                            <a th:href="@{|/task/update/${t.getId()}|}" >
                                                <i class="fas fa-pen color-highlight"></i>
                                            </a>
                                        </h1>
                                    </div>
                                </div>
                                <div class="divider mb-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main menu start -->
        <div th:replace="menu"></div>
        <!-- Main menu end -->

        <!-- Color schema  -->
        <div th:replace="colors"></div>
        <!-- Color schema  -->
    </div>
    <script type="text/javascript" th:src="@{../../scripts/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{../../scripts/custom.js}"></script>
    <script>
        $(document).ready(function(){
            let activeTab = localStorage.getItem('activeTaskTab');
            console.log("Local storage: "+activeTab);
            if(activeTab){
                $('#openTasksTab').removeAttr('data-tab-active');
                $('#'+activeTab).attr('data-tab-active', '');;
            }else{
                $('#openTasksTab').attr('data-tab-active', '');
            }
        });

        // Get active tab id
        function getActiveId(aObj){
            $('#openTasksTab').removeAttr('data-tab-active');
            $(aObj).attr('data-tab-active', '');
            console.log('current active: '+aObj.id);
        }

        // Write to local storage active tabs id
        $('.tabs-medium > a').on('click', function(e) {
            localStorage.setItem('activeTaskTab', $(e.target).attr('id'));
            console.log('write to storage: '+$(e.target).attr('id'));
        });


        // Progress bar
        let progressBar = document.getElementsByClassName('progress-bar');

        Array.prototype.forEach.call(progressBar, function (el) {
            // remove padding left
            if (el.getAttribute('aria-valuenow') === '0') {
                el.classList.remove("pl-3");
            }
        });
    </script>
</body>

</html>