<!DOCTYPE HTML>
<html class="wide wow-animation" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <title>Team</title>
    <link rel="stylesheet" type="text/css" th:href="@{../../styles/bootstrap.css}">
    <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
            rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{../../fonts/css/fontawesome-all.min.css}">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{app/icons/icon-192x192.png}">
    <script type="text/javascript" th:src="@{../../scripts/jquery.js}"></script>

</head>

<body class="theme-light">
    <div id="preloader">
        <div class="spinner-border color-highlight" role="status"></div>
    </div>
    <div id="page">
        <div class="header header-auto-show header-fixed header-logo-center">
            <a href="index.html" class="header-title">Project Team</a>
            <a href="#" data-menu="menu-main" class="header-icon header-icon-1"><i class="fas fa-bars"></i></a>
            <a href="#" data-toggle-theme class="header-icon header-icon-4 show-on-theme-dark"><i
                    class="fas fa-sun"></i></a>
            <a href="#" data-toggle-theme class="header-icon header-icon-4 show-on-theme-light"><i
                    class="fas fa-moon"></i></a>
        </div>
        <div class="page-title page-title-fixed">
            <h1>Team</h1>
            <a href="#" class="page-title-icon shadow-xl bg-theme color-theme show-on-theme-light" data-toggle-theme><i
                    class="fa fa-moon"></i></a>
            <a href="#" class="page-title-icon shadow-xl bg-theme color-theme show-on-theme-dark" data-toggle-theme><i
                    class="fa fa-lightbulb color-yellow-dark"></i></a>
            <a href="#" class="page-title-icon shadow-xl bg-theme color-theme" data-menu="menu-main"><i
                    class="fa fa-bars"></i></a>
        </div>
        <div class="page-title-clear"></div>
        <div class="page-content">
<!--            ALERTS              -->
            <div class="alert mr-3 ml-3 rounded-s bg-yellow-dark" role="alert" th:if="${fail}" >
                <span class="alert-icon color-white"
                ><i class="fa fa-exclamation-triangle font-18"></i></span>
                <h4 class="color-white font-">Info</h4>
                <strong class="alert-icon-text color-white"
                >Invitation has been send.</strong>
                <button
                        type="button"
                        class="close color-white opacity-60 font-16"
                        data-dismiss="alert"
                        aria-label="Close">
                    &times;
                </button>
            </div>
            <div class="alert mr-3 ml-3 rounded-s bg-green-dark" role="alert" th:if="${success}">
                <span class="alert-icon color-white"
                ><i class="fa fa-check font-18"></i></span>
                <h4 class="color-white">Success</h4>
                <strong class="alert-icon-text color-white">New team member was added.</strong>
                <button
                        type="button"
                        class="close color-white opacity-60 font-16"
                        data-dismiss="alert"
                        aria-label="Close">
                    &times;
                </button>
            </div>
<!--            ALERTS              -->
            <!-- CONTENT -->
            <div class="card card-style">
                <div class="content">
                    <div th:each="u : ${project.getTeamList()}">
                        <div class="user-slider owl-carousel">
                            <div class="user-left">
                                <div class="d-flex">
                                    <div>
                                        <img th:src="@{|/user/getUserImg/${u.getId()}|}" class="bg-red-dark mr-3 rounded-circle shadow-l"
                                             width="50" height="50"/>
                                    </div>
                                    <div>
                                        <h5 class="mt-1 mb-0" th:text="${u.getFirstName()}+' '+${u.getLastName()}">Vincent Mobi</h5>
                                        <p class="font-10 mt-n1 color-gray-dark" th:text="${u.getPosition()}">
                                            Back End Developer
                                        </p>
                                    </div>
                                    <div class="ml-auto">
                                        <span class="next-slide-user badge bg-blue-dark mt-2 p-2 font-8">TAP FOR MORE</span>
                                    </div>
                                </div>
                            </div>
                            <div class="user-right">
                                <div class="d-flex">
                                    <div>
                                        <h5 class="mt-1 mb-0" th:text="${u.getFirstName()}+' '+${u.getLastName()}">Vincent Mobi</h5>
                                        <p class="font-10 mt-n1 color-gray-dark" th:text="${u.getPosition()}">
                                            Back End Developer
                                        </p>
                                    </div>
                                    <div class="ml-auto">
                                        <a th:href="'tel:'+${u?.getPhoneNumber()}" class="icon icon-xs rounded-circle shadow-l bg-phone">
                                            <i class="fa fa-phone"></i>
                                        </a>
                                        <a th:href="@{|/team/delete/${project.getId()}/${u.getId()}|}" class="icon icon-xs rounded-circle shadow-l bg-red-dark mr-2 ml-2">
                                            <i class="fas fa-times "></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="divider mt-3"></div>
                    </div>
                    <a href="#" data-menu="invite-team-member-modal" class="btn btn-full rounded-s shadow-xl btn-full gradient-highlight font-12 btn-m font-600 mt-3">Invite New Member</a>
                </div>
            </div>
        </div>

                <!-- Create sprint modal start -->
                <div id="invite-team-member-modal" class="menu menu-box-modal rounded-m bg-theme" data-menu-width="350"
                data-menu-height="auto">
                <div class="menu-title">
                    <h1 class="font-800">Send Invitation</h1>
                    <a href="#" class="close-menu"><i class="fa fa-times-circle"></i></a>
                </div>
                <div class="content">
                    <div class="divider mt-n2"></div>
                    <form th:action="@{|/team/add/${project.getId()}|}" method="post">
                        <div class="input-style input-style-2 input-required">
                            <span class="color-highlight">Email</span>
                            <em>(required)</em>
                            <input class="form-control" type="email" placeholder="" name="email"/>
                        </div>
    
                        <div class="divider my-1"></div>
    
                        <div class="row">
                            <div class="col-12">
                                <button type="submit"
                                    class="btn btn-full gradient-blue font-12 btn-m font-600 mt-3 rounded-s w-100">Invite New Member</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Create sprint modal end -->

        <!-- Main menu start -->
        <div th:replace="menu"></div>
        <!-- Main menu end -->

        <!-- Color schema  -->
        <div th:replace="colors"></div>
        <!-- Color schema  -->

    </div>
    <script type="text/javascript" th:src="@{../../scripts/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{../../scripts/custom.js}"></script>
</body>

</html>