<!DOCTYPE HTML>
<html class="wide wow-animation" lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport"
    content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
  <title>Profile</title>
  <link rel="stylesheet" type="text/css" th:href="@{/styles/bootstrap.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/styles/highlights/highlight-blue.css}">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
        rel="stylesheet">
  <link rel="stylesheet" type="text/css" th:href="@{/fonts/css/fontawesome-all.min.css}">
  <link rel="apple-touch-icon" sizes="180x180" th:href="@{/app/icons/icon-192x192.png}">
  <script type="text/javascript" th:src="@{../../scripts/jquery.js}"></script>
</head>

<body class="theme-light">
  <div id="preloader">
    <div class="spinner-border color-highlight" role="status"></div>
  </div>
  <div id="page">
    <div class="header header-auto-show header-fixed header-logo-center">
      <a href="index.html" class="header-title">Profile</a>
      <a href="#" data-menu="menu-main" class="header-icon header-icon-1"><i class="fas fa-bars"></i></a>
      <a href="#" data-toggle-theme class="header-icon header-icon-4 show-on-theme-dark"><i class="fas fa-sun"></i></a>
      <a href="#" data-toggle-theme class="header-icon header-icon-4 show-on-theme-light"><i
          class="fas fa-moon"></i></a>
    </div>
    <div class="page-title page-title-fixed">
      <h1>Profile</h1>
      <a href="#" class="page-title-icon shadow-xl bg-theme color-theme show-on-theme-light" data-toggle-theme><i
          class="fa fa-moon"></i></a>
      <a href="#" class="page-title-icon shadow-xl bg-theme color-theme show-on-theme-dark" data-toggle-theme><i
          class="fa fa-lightbulb color-yellow-dark"></i></a>
      <a href="#" class="page-title-icon shadow-xl bg-theme color-theme" data-menu="menu-main"><i
          class="fa fa-bars"></i></a>
    </div>
    <div class="page-title-clear"></div>

    <div class="page-content fixed-height-page">
        <div class="card card-style" data-card-height="400" th:style="'background-image: url(/user/getUserImg/'+${user.getId()}+');'">
            <div class="card-top">
                <h1 class="color-white font-40 font-900 pl-3 pt-5" th:text="${user.getFirstName()+' '+user.getLastName()}">John Doe</h1>
                <h1 class="color-white font-18 pl-3 pt-0 mb-0 opacity-50" th:text="${user.getPosition()}">
                    Project manager
                </h1>
            </div>
            <div class="card-overlay"></div>
        </div>
        <div class="card card-style">
            <div class="content mt-3 mb-2">
                <h1 class="vcard-title font-24 font-700 text-capitalize">Phone</h1>
                <div class="vcard-field border-0 pt-0">
                    <strong>Personal</strong><p class="mb-0" th:text="${user.getPhoneNumber()}">+3 234 567 890</p><i
                        class="fa fa-user color-red2-dark"></i>
                </div>
            </div>
        </div>

        <div class="card card-style">
            <div class="content mt-3 mb-2">
                <h1 class="vcard-title font-24 font-700 text-capitalize">Email</h1>
                <div class="vcard-field border-0 pt-0">
                    <strong>Personal</strong><p class="mb-0" th:text="${user.getUsername()}">gmail</p>
                    <i class="far fa-envelope-open color-red2-dark"></i>
                </div>
            </div>
        </div>

        <a href="/user/editUserProfile" class="btn btn-full btn-margins rounded-s btn-m font-12 font-600 mb-4 gradient-highlight color-white">Edit Profile</a>
    </div>


    <!-- Main menu start -->
    <div th:replace="menu"></div>
    <!-- Main menu end -->

    <div id="menu-share" class="menu menu-box-bottom rounded-m" data-menu-height="370">
      <div class="menu-title">
        <p class="color-highlight">Tap a link to</p>
        <h1>Share</h1>
        <a href="#" class="close-menu"><i class="fa fa-times-circle"></i></a>
      </div>
      <div class="divider divider-margins mt-3 mb-0"></div>
      <div class="content mt-0">
        <div class="list-group list-custom-small list-icon-0">
          <a href="#" class="shareToFacebook">
            <i class="fab fa-facebook-f font-12 bg-facebook color-white shadow-l rounded-s"></i>
            <span>Facebook</span>
            <i class="fa fa-angle-right pr-1"></i>
          </a>
          <a href="#" class="shareToTwitter">
            <i class="fab fa-twitter font-12 bg-twitter color-white shadow-l rounded-s"></i>
            <span>Twitter</span>
            <i class="fa fa-angle-right pr-1"></i>
          </a>
          <a href="#" class="shareToLinkedIn">
            <i class="fab fa-linkedin-in font-12 bg-linkedin color-white shadow-l rounded-s"></i>
            <span>LinkedIn</span>
            <i class="fa fa-angle-right pr-1"></i>
          </a>
          <a href="#" class="shareToWhatsApp">
            <i class="fab fa-whatsapp font-12 bg-whatsapp color-white shadow-l rounded-s"></i>
            <span>WhatsApp</span>
            <i class="fa fa-angle-right pr-1"></i>
          </a>
          <a href="#" class="shareToEmail border-0">
            <i class="fa fa-envelope font-12 bg-mail color-white shadow-l rounded-s"></i>
            <span>Email</span>
            <i class="fa fa-angle-right pr-1"></i>
          </a>
        </div>
      </div>
    </div>

    <div id="menu-colors" class="menu menu-box-bottom rounded-m" data-menu-height="480">
      <div class="menu-title">
        <p class="color-highlight font-600">Choose your Favorite</p>
        <h1>Highlight</h1>
        <a href="#" class="close-menu"><i class="fa fa-times-circle"></i></a>
      </div>
      <div class="divider divider-margins mt-3 mb-2"></div>
      <div class="content mt-0 ml-0 mr-0">
        <div class="row mb-0">
          <div class="col-6">
            <div class="highlight-changer list-group list-custom-small list-menu">
              <a href="#" class="menu-active" data-highlight-style="styles/highlights/highlight-blue.css">
                <i class="gradient-blue color-white"></i>
                <span>Blue</span>
              </a>
              <a href="#" data-highlight-style="styles/highlights/highlight-red.css">
                <i class="gradient-red color-white"></i>
                <span>Red</span>
              </a>
              <a href="#" data-highlight-style="styles/highlights/highlight-orange.css">
                <i class="gradient-orange color-white"></i>
                <span>Orange</span>
              </a>
              <a href="#" data-highlight-style="styles/highlights/highlight-green.css">
                <i class="gradient-green color-white"></i>
                <span>Green</span>
              </a>
              <a href="#" data-highlight-style="styles/highlights/highlight-yellow.css">
                <i class="gradient-yellow color-white"></i>
                <span>Yellow</span>
              </a>
            </div>
          </div>
          <div class="col-6">
            <div class="highlight-changer list-group list-custom-small list-menu">
              <a href="#" data-highlight-style="styles/highlights/highlight-dark.css">
                <i class="gradient-dark color-white"></i>
                <span>Dark</span>
              </a>
              <a href="#" data-highlight-style="styles/highlights/highlight-gray.css">
                <i class="gradient-gray color-white"></i>
                <span>Gray</span>
              </a>
              <a href="#" data-highlight-style="styles/highlights/highlight-teal.css">
                <i class="gradient-teal color-white"></i>
                <span>Teal</span>
              </a>
              <a href="#" data-highlight-style="styles/highlights/highlight-magenta.css">
                <i class="gradient-magenta color-white"></i>
                <span>Plum</span>
              </a>
              <a href="#" data-highlight-style="styles/highlights/highlight-brown.css">
                <i class="gradient-brown color-white"></i>
                <span>Brown</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="divider divider-margins mt-2"></div>
      <a href="#"
        class="close-menu btn btn-margins btn-m font-13 rounded-s shadow-xl btn-full gradient-highlight border-0 font-700 text-uppercase">Awesome</a>
    </div>
  </div>
  <script type="text/javascript" th:src="@{../../scripts/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{../../scripts/custom.js}"></script>
  <script>
    // Progress bar
    let progressBar = document.getElementsByClassName('progress-bar');

    Array.prototype.forEach.call(progressBar, function (el) {
      // remove padding left
      if (el.getAttribute('aria-valuenow') === '0') {
        el.classList.remove("pl-3");
      }
    })

    function editProjectModal(btnObj) {
      let trObj = btnObj.closest(".row-id");
      let trId = $(trObj).attr('id');

      console.log("item id:" + $(trObj).attr('id'));

      let name = $(trObj).find('.project-name').text();
      let description = $(trObj).find('.project-description').text();
      let sprintStart = $(trObj).find('.project-start').text();
      let sprintEnd = $(trObj).find('.project-end').text();

      $('#projectIdInput').val(trId);
      $('#editProjectNameInput').val(name);
      $('#editProjectDescriptionInput').val(description);
      $('#editStartDateInput').val(sprintStart);
      $('#editEndDateInput').val(sprintEnd);
    }
  </script>
</body>

</html>